@model HLebelDetails

@section Header {
        Details of Home Label
}

<div class="col-md-12">

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Details Home Label @Model.Name</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <ul>
                <li>Name is : @Model.Name</li>
                <li>Description is : @Html.Raw(Model.Description)</li>
                <li>Status is : @(Model.IsDeleted ? "Deleted" : "Active")</li>
                <li>CreatedAt is : @Model.CreatedAt</li>
                <li> Image : <img src="~/files/images/@Model.ImageName" width="100px" /></li>
            </ul>


        </form>

        
    </div>
    <a asp-action="Index" class="btn btn-primary">Back To List</a>
</div>