@model SocialVM

@section Header {
        Details of Social
}

<div class="col-md-12">

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Details Social @Model.SocialName</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <ul>
                <li>Name is : @Model.SocialName</li>
                <li>Url is : @Html.Raw(Model.Url)</li>
                <li>IsOwner is : @Html.Raw(Model.IsOwner ? "True" : "False")</li>
                <li>Owner is : @Html.Raw(Model.ApplecationUser.UserName)</li>
               
            </ul>


        </form>
    </div>
    <a asp-action="Index" class="btn btn-primary">Back To List</a>
</div>